{% for example in include.examples %}
## {{ example.title }} ##

{% if example.description %}
{{ example.description }}
{% endif %}

{% for profile in example.profiles %}
### {{ profile.name }} ###

<table>
  <thead>
    <tr><th>Example</th><th>Description</th><th>XML</th><th>JSON</th></tr>
  </thead>
  <tbody>
  {% for row in profile.examples %}
  <tr>
    <td><a href="{{  example.permalink  }}#{{ row.name | downcase }}">{{ row.name }}</a></td>
    <td>{{ row.description }}</td>
    {% assign xml_file = row.name | append: '.xml' | url_encode %}
    <td><a target="_blank" href="{{ include.path }}/{{ xml_file }}"><image src="images/profiles/file-xml-xs.png"/></a></td>
    {% assign json_file = row.name | append: '.json' | url_encode %}
    <td><a target="_blank" href="{{ include.path }}/{{ json_file }}"><image src="images/profiles/file-json-xs.png"/></a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endfor %}

{% endfor %}