{% for profile in include.profiles %}
## {{  profile.name  }} ##

{% for example in profile.examples %}

### {{  example.name  }} ###

{{  example.description  }}

#### JSON Example ####

{% assign json_file = example.name | append: '.json' | url_encode %}
{% highlight json %}
  {% include_relative {{  json_file  }} %}
{% endhighlight %}

#### XML Example ####

{% assign xml_file = example.name | append: '.xml' | url_encode %}
{% highlight xml %}
  {% include_relative {{  xml_file  }} %}
{% endhighlight %}

{% endfor %}

{% endfor %}