| **LDAP** | Lightweight Directory Access Protocol. A protocol for accessing directory services |
| **SDS** | Spine Directory Service. A directory held in Spine containing accredited Spine system identifiers, endpoints, and other reference information; accessed by LDAP |
| **MHS** | Message handling server. Middleware that handles messaging to/from Spine. See [System topologies](integration_system_topologies.html) for more information |
| **MHS record** | LDAP object of type `nhsMhs` in SDS, uniquely identified by Party key, and representing a message handling server |
| **Party key** | The unique identifier of an MHS record |
| **AS record** |  LDAP object of type `nhsAs` in SDS, uniquely identifier by ASID, and representing a Spine connected system deployed at an organisation |
| **ASID** | Accredited system identifier. A unique identifier allocated to a system at an organisation for connection to Spine. Uniquely identifies an AS record in SDS |
| **CMA type endpoint** | A way of registering MHS and AS record for a system at a single organisation which creates a Party Key and ASID for use only at that organisation |
| **MHS type endpoint** | An endpoint registered with Spine for use with multiple systems via an MHS. Each system has its own ASID |
