<div class="alert alert-warning" role="alert">
	<em class="fa fa-warning"></em>
	<strong>Version:</strong> This is an <strong>upcoming 0.x (DSTU2) version</strong> of GP Connect API for Providers ONLY.<br/>
	Providers can view the GP IT Futures roadmap <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITSR/pages/1293221950/Standards+and+Capabilities+Roadmap">here</a>.<br/>
	For the current version and other specifications, please visit <a href="https://developer.nhs.uk/gp-connect-specification-versions/">GP Connect specifications page</a>.
</div>
