<div class="bs-callout bs-callout-warning">
	<em class="fa fa-warning"></em>
	<strong>Version:</strong> This is an <strong>upcoming 1.x (STU3) version</strong> of GP Connect API for building the <strong>Access Record Structured</strong> and <strong>Access Document</strong> capabilities. This is a beta release and is open to change as suppliers develop against this specification and feedback is received. For other capabilities, please visit <a href="https://developer.nhs.uk/gp-connect-specification-versions/">GP Connect specifications page</a>.
</div>
