<div markdown="span" class="alert alert-warning" role="alert">
	<i class="fa fa-warning"></i>
	<b>Version:</b> This is an <b>upcoming 1.x (STU3) version</b> of GP Connect API for building the <b>Access Record Structured</b> and <b>Access Document</b> capabilities. This is a beta release and is open to change as it is dependant on the development of the Patient Switching Standard. For other capabilities, please visit <a href="https://developer.nhs.uk/gp-connect-specification-versions/">GP Connect specifications page</a>.
</div>
