<div markdown="span" class="alert alert-warning" role="alert">
	<i class="fa fa-warning"></i>
	<b>Version:</b> This is an <b>upcoming 0.x (DSTU2) version</b> of GP Connect API for Providers ONLY. Providers can view the GP IT Futures roadmap <a href="https://gpitbjss.atlassian.net/wiki/spaces/GPITSR/pages/1293221950/Standards+and+Capabilities+Roadmap">here</a>.<br/>
	For the current version and other specifications, please visit <a href="https://developer.nhs.uk/gp-connect-specification-versions/">GP Connect specifications page</a>.
</div>
