{% assign showbackbutton = true %}
{% assign backbuttontext = "GP Connect Core Specification" %}

{% if page.sidebar == "overview_sidebar" or page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.overview_sidebar %}
{% assign showbackbutton = false %}
{% assign quicklinks = site.data.sidebars.overview_related.link %}

{% elsif page.sidebar == "foundations_sidebar" %}
{% assign sidebar = site.data.sidebars.foundations_sidebar %}
{% assign quicklinks = site.data.sidebars.foundations_related.link; %}

{% elsif page.sidebar == "accessrecord_sidebar" %}
{% assign sidebar = site.data.sidebars.accessrecord_sidebar %}
{% assign quicklinks = site.data.sidebars.accessrecord_related.link; %}

{% else %}
{% assign sidebar = site.data.sidebars.overview_sidebar %}
{% assign quicklinks = site.data.sidebars.overview_related.link; %}
{% endif %}

{% assign the_sidebar = "sidebar_menu_list_items.liquid" %}


{% comment %}
sidebar configuration for print files
{% endcomment %}

{% if site.product == "overview" %}
{% assign sidebar_pdf = site.data.sidebars.overview_sidebar.entries %}
{% endif %}

{% if site.product == "foundations" %}
{% assign sidebar_pdf = site.data.sidebars.foundations_sidebar.entries %}
{% endif %}

{% if site.product == "accessrecord" %}
{% assign sidebar_pdf = site.data.sidebars.accessrecord_sidebar.entries %}
{% endif %}
